{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            {% if user.is_superuser %}
                <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span
                        class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        {% endif %}
        <p></p>
        {% if post.published_date %}
            <div class="date">
                <strong>{{ post.published_date }}</strong>
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <p><strong> 작성자 : {{ post.author }}</strong></p>
    </div>
    <hr>
    {% for comment in post.comments.all %}
        {% if user.is_superuser or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    <strong>{{ comment.created_date }}</strong>
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span
                                class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <a href="{% url 'comment_edit' pk=post.pk cpk=comment.pk %}"><p><strong>{{ comment.text|linebreaksbr }}</strong></p></a>
                {% if user.username == comment.author %}
                    <a class="btn btn-default" href="{% url 'comment_edit' pk=post.pk cpk=comment.pk %}"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                {% if user.is_superuser %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=post.pk cpk=comment.pk %}"><span
                            class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
                작성자 : {{ comment.author }}

            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    <a class="btn btn-default" href="{% url 'add_comment' pk=post.pk %}">Add Comment</a>
{% endblock %}